<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Mimic Internet Explorer 7 -->
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>{{title}}</title>
    {%block jsincludes%}{%endblock jsincludes%}
    {%block styleincludes%}{%endblock styleincludes%}
  </head>
  <body>
  <nav>
  	{% block lnav %}
  	{% endblock %}
  </nav>
  <div class="main">
    {% rgroup centerspot %}
    {% endrgroup %}
  </div>
  </body>
</html>




			 
