<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Mimic Internet Explorer 7 -->
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title></title>


  </head>
  <body>
  <nav>
  	  </nav>
  <div class="main">
    <div class="rgroup_centerspot rgroup"><div class="rgroupname">centerspot</div>	
</div>
  </div>
  </body>
</html>




			 
This is the default home page 



<div class="rgroup_newspot rgroup"><div class="rgroupname">newspot</div>	
</div>
