htmltext
mystuff
final text
	Howdy Apples
		Got Apples
			Also hello Apples
			Also hello Bananas
			Also hello Carrots
	Howdy Bananas
		Got Bananas
			Also hello Apples
			Also hello Bananas
			Also hello Carrots
	Howdy Carrots
		Got Carrots
			Also hello Apples
			Also hello Bananas
			Also hello Carrots
<div class="rgroup_myrgroup rgroup"><div class="rgroupname">myrgroup</div>myrgroup</div>
xyz
<p></p>
<div class="rgroup_myrgroup rgroup"><div class="rgroupname">myrgroup</div>myrgroup</div>

<div class="rgroup_newrgroup rgroup"><div class="rgroupname">newrgroup</div> 
</div>
Included Template