htmltext
mystuff
final text
	Howdy Hello
		Got Hello
			Also hello Hello
			Also hello Abcd
			Also hello Foobar
	Howdy Abcd
		Got Abcd
			Also hello Hello
			Also hello Abcd
			Also hello Foobar
	Howdy Foobar
		Got Foobar
			Also hello Hello
			Also hello Abcd
			Also hello Foobar
<div class="rgroup_myrgroup rgroup"><div class="rgroupname">myrgroup</div>myrgroup</div>
xyz
<p></p>
<div class="rgroup_myrgroup rgroup"><div class="rgroupname">myrgroup</div>myrgroup</div>

<div class="rgroup_newrgroup rgroup"><div class="rgroupname">newrgroup</div> 
</div>
Included Template