<!DOCTYPE html>
<html>
<head>
head content goes here
</head>
<body>
<ul>
<li>
	Outer Loop: Hello
		Outer Loop - scope Block: Hello
		<ol>
		<li>
		Inner Loop: Hello
		</li>
		<li>
		Inner Loop: Abcd
		</li>
		<li>
		Inner Loop: Foobar
		</li>
		</ol>
		Outer Loop - after Block Hello
	<div class="rgroup_adspot rgroup"><div class="rgroupname">adspot</div>		
	</div>
</li>
<li>
	Outer Loop: Abcd
		Outer Loop - scope Block: Abcd
		<ol>
		<li>
		Inner Loop: Hello
		</li>
		<li>
		Inner Loop: Abcd
		</li>
		<li>
		Inner Loop: Foobar
		</li>
		</ol>
		Outer Loop - after Block Abcd
	<div class="rgroup_adspot rgroup"><div class="rgroupname">adspot</div>		
	</div>
</li>
<li>
	Outer Loop: Foobar
		Outer Loop - scope Block: Foobar
		<ol>
		<li>
		Inner Loop: Hello
		</li>
		<li>
		Inner Loop: Abcd
		</li>
		<li>
		Inner Loop: Foobar
		</li>
		</ol>
		Outer Loop - after Block Foobar
	<div class="rgroup_adspot rgroup"><div class="rgroupname">adspot</div>		
	</div>
</li>
</ul>
</body>
</html>