<!DOCTYPE html>
<html>
<head>
head content goes here
</head>
<body>
<ul>
<li>
	Outer Loop: Hello
parent		Outer Loop - scope Block: Hello
		<ol>
		<li>
		Inner Loop: Hello
		</li>
		<li>
		Inner Loop: Abcd
		</li>
		<li>
		Inner Loop: Foobar
		</li>
		</ol>
		Outer Loop - after Block Hello
overriden Hello
inside for loop parent		Outer Loop - scope Block: Hello
		<ol>
		<li>
		Inner Loop: Hello
		</li>
		<li>
		Inner Loop: Abcd
		</li>
		<li>
		Inner Loop: Foobar
		</li>
		</ol>
		Outer Loop - after Block Hello
 
overriden Abcd
inside for loop parent		Outer Loop - scope Block: Abcd
		<ol>
		<li>
		Inner Loop: Hello
		</li>
		<li>
		Inner Loop: Abcd
		</li>
		<li>
		Inner Loop: Foobar
		</li>
		</ol>
		Outer Loop - after Block Abcd
 
overriden Foobar
inside for loop parent		Outer Loop - scope Block: Foobar
		<ol>
		<li>
		Inner Loop: Hello
		</li>
		<li>
		Inner Loop: Abcd
		</li>
		<li>
		Inner Loop: Foobar
		</li>
		</ol>
		Outer Loop - after Block Foobar
 
	<div class="rgroup_adspot rgroup"><div class="rgroupname">adspot</div>		
	</div>
</li>
<li>
	Outer Loop: Abcd
parent		Outer Loop - scope Block: Abcd
		<ol>
		<li>
		Inner Loop: Hello
		</li>
		<li>
		Inner Loop: Abcd
		</li>
		<li>
		Inner Loop: Foobar
		</li>
		</ol>
		Outer Loop - after Block Abcd
overriden Hello
inside for loop parent		Outer Loop - scope Block: Hello
		<ol>
		<li>
		Inner Loop: Hello
		</li>
		<li>
		Inner Loop: Abcd
		</li>
		<li>
		Inner Loop: Foobar
		</li>
		</ol>
		Outer Loop - after Block Hello
 
overriden Abcd
inside for loop parent		Outer Loop - scope Block: Abcd
		<ol>
		<li>
		Inner Loop: Hello
		</li>
		<li>
		Inner Loop: Abcd
		</li>
		<li>
		Inner Loop: Foobar
		</li>
		</ol>
		Outer Loop - after Block Abcd
 
overriden Foobar
inside for loop parent		Outer Loop - scope Block: Foobar
		<ol>
		<li>
		Inner Loop: Hello
		</li>
		<li>
		Inner Loop: Abcd
		</li>
		<li>
		Inner Loop: Foobar
		</li>
		</ol>
		Outer Loop - after Block Foobar
 
	<div class="rgroup_adspot rgroup"><div class="rgroupname">adspot</div>		
	</div>
</li>
<li>
	Outer Loop: Foobar
parent		Outer Loop - scope Block: Foobar
		<ol>
		<li>
		Inner Loop: Hello
		</li>
		<li>
		Inner Loop: Abcd
		</li>
		<li>
		Inner Loop: Foobar
		</li>
		</ol>
		Outer Loop - after Block Foobar
overriden Hello
inside for loop parent		Outer Loop - scope Block: Hello
		<ol>
		<li>
		Inner Loop: Hello
		</li>
		<li>
		Inner Loop: Abcd
		</li>
		<li>
		Inner Loop: Foobar
		</li>
		</ol>
		Outer Loop - after Block Hello
 
overriden Abcd
inside for loop parent		Outer Loop - scope Block: Abcd
		<ol>
		<li>
		Inner Loop: Hello
		</li>
		<li>
		Inner Loop: Abcd
		</li>
		<li>
		Inner Loop: Foobar
		</li>
		</ol>
		Outer Loop - after Block Abcd
 
overriden Foobar
inside for loop parent		Outer Loop - scope Block: Foobar
		<ol>
		<li>
		Inner Loop: Hello
		</li>
		<li>
		Inner Loop: Abcd
		</li>
		<li>
		Inner Loop: Foobar
		</li>
		</ol>
		Outer Loop - after Block Foobar
 
	<div class="rgroup_adspot rgroup"><div class="rgroupname">adspot</div>		
	</div>
</li>
</ul>
</body>
</html>